# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/MatrixLib/v17/ipch/AutoPCH/e35144200ede02f0/MAIN.ipch
/MatrixLib/x64/Debug/MatrixLib.log
/MatrixLib/x64/Debug/vc143.idb
/MatrixLib/x64/Debug/vc143.pdb
/MatrixLib/x64/Debug/MatrixLib.tlog
